#!/bin/sh


osapp_inst="/usr/local/osapp"

######### General Config #########
VLAN_IDs=(10 20 30 40 50 60 70 80 100)
Allowed_DNS=("208.67.222.222" "208.67.220.220")

vpool="pool0"

siteSubnet="10"

nicBondType="bond"

cwa_LocID=

custAbbr="cust"
siteName="site"


######### OPNSense #########
# nano 20.7
#OPNSense_URL="http://mirror.wdc1.us.leaseweb.net/opnsense/releases/20.7/OPNsense-20.7-OpenSSL-nano-amd64.img.bz2"
#OPNSense_SHA256="6deb370c2a64fa6c60b7f59a4afb31b2dd28b812f5fcd59eaa6d458938d45630"

# vga
#OPNSense_URL="http://mirror.wdc1.us.leaseweb.net/opnsense/releases/20.7/OPNsense-20.7-OpenSSL-vga-amd64.img.bz2"
#OPNSense_SHA256="72cbffe3bba4884586c8ded8dbca4cf30fb34a094602e5f681efde2deea595c6"

# nano 21RC
#OPNSense_URL="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/21.1/OPNsense-21.1-OpenSSL-nano-amd64.img.bz2"
#OPNSense_SHA256="e5116c5037f4b4bbc68708e8f14ce023508ccf585164b778d6c158f170ea202f"

# nano 21.7
OPNSense_URL="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/mirror/OPNsense-21.7.1-OpenSSL-nano-amd64.img.bz2"
OPNSense_SHA256="106b483993f252e27dfd5064f57b2800e68274cf036445a97308107144e601f9"

OPNSense_VMName="OPNsense_Firewall"


######### Perch #########
Perch_URL="https://s3.amazonaws.com/public.perchsecurity.com/PerchSensor-latest.ova"
Perch_VMName="Perch_Sensor"


######### CyberCNS #########
cybercns_hostname="cybercns.rader.technology"
cybercns_custId="abc"
cybercns_siteId="def"


alias ssh='ssh -o "StrictHostKeyChecking=no"'

custTLD=""
OSAPP_Hostname=""
Perch_Hostname=""
OPNsense_Hostname="" 

